.reset-password {
    text-align: center;
    margin: 50px;
	margin-top: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-layout {
    justify-content: center;
    align-items: center;
}
.reset-card {
    min-width: 500px;
    aspect-ratio: 1.5 / 1;
}
.Login .lead {
	font-size: 16px;
    margin: 10px;
}

.reset-form-actions {
    justify-content: center;
}
.reset-password-form > * {
    margin: 10px;
}