.Project {
	margin: 50px;
}

.Project .div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.Project .spinner-border {
	width: 100px;
	height: 100px;
	margin: 230px auto;
	color: #38023B !important; 
}

.Project .heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
}

.Project .heading h2 {
	margin-bottom: 0px;
}

.Project .button-div {
	display: flex;
	flex-direction: row;
	gap: 15px;
	margin-top: 5px;
}

.Project .button-div .primary-button {
	background-color: #38023B !important;
	border-color: #38023B !important;
}

.Project .button-div .primary-button:hover {
	background-color: #49034d !important;
	border-color: #49034d !important;
}

.Project .button-div svg {
	margin-top: -3px;
	margin-right: 7px;
}

.edit-project {
	padding: 0px 16px;
	padding-top: 20px;
}

.edit-project input {
	margin-bottom: 20px;
}

.edit-project-button {
	background-color: #38023B !important;
	border-color: #38023B !important;
}

.edit-project-button:disabled {
	background-color: #3a193c !important;
	border-color: #3a193c !important;
}

.edit-project-button .spinner-border {
	margin-bottom: -1px;
	font-size: 9px;
}

.delete-project-button .spinner-border {
	margin-bottom: -1px;
	font-size: 9px;
}
